NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/rivals_watch
SESSION_SECRET=replace_with_long_random_secret
BASE_URL=http://localhost:3000
MAX_UPLOAD_MB=15
ADMIN_PANEL_KEY=replace_with_admin_panel_key
